{
 :address-btc "changeToBTCAddress"
 :address-xmr "changeToXMRAddress"
 :data-dir-root "./data_dirs"
 ;; optional - default is "~/.cargo/bin"
 :farcaster-binaries-path nil
 ;; optional - default is "~/.farcaster/farcasterd.toml"
 :farcaster-config-toml-file nil
 ;; optional - default is "monero-wallet-rpc"
 :monero-wallet-rpc-binary nil
 ;; for instance with a remote trusted daemon: "--stagenet --disable-rpc-login --trusted-daemon --daemon-host changeToHost:38081 --daemon-login user:pass"
 :monero-wallet-rpc-options nil
 :monero-wallet-rpc-start-rpc-port 38083
 }
