{:paths ["src"]
 :aliases {
           :dev {:paths ["src", "src-dev"]}
           :native-image
           {
            :main-opts ["-m" "clj.native-image" "parallel-offer-taker.core"
                        "--no-fallback"
                        "--diagnostics-mode"
                        ;; "--initialize-at-build-time=clojure,clojure.core.server"
                        "--initialize-at-build-time"
                        "--enable-https"
                        "--report-unsupported-elements-at-runtime"
                        ;; optional native image name override
                        "-H:Name=parallel-offer-taker"]
            :jvm-opts ["-Dclojure.compiler.direct-linking=true -Djdk.attach.allowAttachSelf=true"]
            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "4604ae76855e09cdabc0a2ecc5a7de2cc5b775d6"}}}
           }
 :deps
 {
  org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  clj-commons/clj-yaml {:mvn/version "0.7.0"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}}
  }
